a.active {
  color: #00c1a2;
  background-color: #00af9228;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s;
}
